*/__pycache__
*/temp
*/*/temp
temp
tmp/*
__pycache__
traces
*.xlsx
*.jsonl
.DS_Store
.idea/
templates/.DS_Store

movie
run.sh

venv
temp
traces
logs
logs/*
**/__pycache__
test
.env
evaluation_logs
tools-old/*





inference/adbkey
inference/adbkey.pub
inference/traces
inference/logs



*.sh